.search {
  background: var(--primary-color);
  width: 40rem;
  padding: var(--spacing-s);
  border-radius: var(--spacing-xxs);
  box-shadow: 1px 1px 10px var(--black);
  position: relative;
  max-width: var(--layout-max-width);
}

.search h1 {
  margin: var(--spacing-m) 0;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

.search form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--spacing-s);
}

.search section {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-xxs) 0;
  width: 8.9rem;
}

.search section label {
  margin-bottom: var(--spacing-xxs);
  color: var(--white);
  width: 10rem;
}

.search section select,
.search section input {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  margin: 0.1rem;
  padding-left: var(--spacing-xxs);
  width: 8.7rem;
  background: var(--white);
  outline: none;
}

.row {
  display: flex;
}

.condition label {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.condition label:hover {
  cursor: pointer;
}

.button {
  justify-self: end;
}
