.home-screen {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-xxl);
}

.search {
  margin: 0 auto;
}
