.header {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a {
    padding: var(--spacing-xs); 
    font-size: 2.2rem;
}


.header a {
    color: var(--white)
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-items li {
    margin: 0 var(--spacing-s);
}

.nav-items a {
    font-size: 1.2rem;
    position: relative;
}

.nav-items a:hover::before {
    content: '';
    position: absolute;
    bottom:-0.6rem;
    background: var(--white);
    height: 0.2rem;
    animation: slide 1 0.3s;
    width: 100%;
}

@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}