.header {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white)
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-items li {
    margin: 0 var(--spacing-s);
}

.nav-items a {
    color: var(--white);
}