:root {
  /* Colors */
  --primary-color: #214c78;
  --secondary-color: #df8d00;
  --white: #fff;
  --silver: #c8d6e5;
  --black: #212121;
  --orange-hover: #ffa000;

  /* Spacings */
  --spacing-xxs: 0.6rem;
  --spacing-xs: 1rem;
  --spacing-s: 1.4rem;
  --spacing-m: 1.8rem;
  --spacing-l: 2.2rem;
  --spacing-xl: 2.6rem;
  --spacing-xxl: 3rem;

  /* Layout */
  --layout-max-width: 1980px;
}
