.create {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.create form {
  background: var(--primary-color);
  margin: var(--spacing-m) auto;
  width: 45rem;
  padding: var(--spacing-l);
  box-shadow: 1px 1px 10px var(--black);
  border-radius: var(--spacing-xxs);
}

.create form h1 {
  margin: var(--spacing-s) 0 var(--spacing-xxl);
  color: var(--white);
  font-size: 1.8rem;
  text-align: center;
}

.create div div {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xxs);
}

.create label {
  color: var(--white);
}

.create select,
.create input {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  margin: var(--spacing-xxs) 0;
  padding-left: var(--spacing-xxs);
  width: 8.7rem;
  background: var(--white);
  outline: none;
}

.error {
  color: var(--secondary-color);
}

/* Grid Areas */
.type {
  grid-area: type;
}

.brand {
  grid-area: brand;
}

.condition {
  grid-area: condition;
}

.model {
  grid-area: model;
}

.year {
  grid-area: year;
}

.price {
  grid-area: price;
}

.capacity {
  grid-area: capacity;
}

.engine {
  grid-area: engine;
}

.power {
  grid-area: power;
}

.kilometers {
  grid-area: kilometers;
}

.contact {
  grid-area: contact;
}

.name {
  grid-area: name;
}

.city {
  grid-area: city;
}

.description {
  grid-area: description;
}

.button {
  grid-area: button;
  justify-self: end;
}

.img-error {
  grid-area: error;
}

.img-error p {
  color: var(--secondary-color);
  font-size: 18px;
}

.description textarea {
  height: 8.1rem;
  resize: none;
  padding: var(--spacing-xxs);
  margin-top: var(--spacing-xxs);
  border-radius: 0.2rem;
}

/* Grid */
.create-inputs {
  display: grid;
  grid-template-areas:
    'type brand model'
    'engine power capacity'
    'year kilometers price'
    'name contact city'
    'description description condition'
    'error error button';
}
