.bike-list {
  list-style: none;
  margin-top: var(--spacing-l);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-m);
  background: var(--silver);
  padding: var(--spacing-xxs);
}

.loading {
  margin-top: var(--spacing-m);
}

@media screen and (max-width: 600px) {
  .bike-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .bike-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .bike-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .bike-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1366px) {
  .bike-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
